.content-portfolio {
  height: 100vh;
  width: 100vw;
  border-top: 1px solid transparent;

  z-index: 99;
}
.content-portfolio .portfolio-buttons {
  width: max-content;
  height: 7vmin;
  padding: 0;

  position: absolute;
  bottom: 3vmin;
  right: 50%;
  transform: translateX(50%);
}

.content-portfolio .portfolio-buttons .portfolio-item {
  display: inline-block;
  width: 6vmin;
  height: 6vmin;
  border-radius: 6vmin;
  margin-right: 3vmin;
  transition: 0.5s background-color;
}
.content-portfolio .portfolio-buttons .portfolio-item:last-of-type {
  margin-right: 0;
}
.content-portfolio .portfolio-buttons .ticked {
  background-color: hsl(42, 96%, 54%);
}
.content-portfolio .portfolio-buttons .unticked {
  background-color: hsl(42, 96%, 75%);
}
.content-portfolio .portfolio-buttons .ticked:hover,
.content-portfolio .portfolio-buttons .unticked:hover {
  background-color: hsl(42, 96%, 44%);
}



.portfolio-template .portfolio-template-img {
  height: calc(60vh);
  background-color: #eee;

  margin: 10vh 0 5vh;
}



.portfolio-template > .portfolio-template-text {
  width: 85%;
  max-width: 133vmin;
  margin: 0 auto;

  display: grid;
  grid-auto-flow: column;
  align-items: flex-start;
  gap: 5vmin;
}

.portfolio-template-text-heading {
  line-height: 1.1;
  float: left;
  text-align: right;
  justify-self: flex-end;
}
.portfolio-template-heading-title {
  font-size: 4vmin;
  font-weight: 800;
}
.portfolio-template-heading-desc {
  font-size: 2.8vmin;
  font-weight: 200;
}