.jamie-who-portfolio-item {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;

  display: flexbox;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: hsl(42, 5%, 98%);
  transition: 1s right;
  border-left: 1vmin solid #fab617;
}

.jamie-who-portfolio-item-title,
.jamie-who-portfolio-item-desc {
  width: 85%;
  max-width: 133vmin;
  margin: 0 auto 15vmin;
}

.jamie-who-portfolio-item-title {
  margin-top: 20vmin;
  left: -1rem;
}
.jamie-who-portfolio-item-title > * {
  display: inline-block;
}
.jamie-who-portfolio-item-title > .name {
  font-size: 200%;
  font-weight: 800;
}
.jamie-who-portfolio-item-title > .desc {
  margin-left: 2vmin;
  
  font-size: 120%;
  font-weight: 200;
}

.jamie-who-portfolio-item-desc {
  /* width: max-content; */
}
.jamie-who-portfolio-item-desc > * {
  margin-bottom: 10vmin;
}

.jamie-who-portfolio-item-desc > * > .title {
  font-size: 150%;
  font-weight: 800;
  color: hsl(42, 5%, 80%);
  margin-left: -0.5rem;
}
.jamie-who-portfolio-item-desc > * > .list {
  margin: 1em 0 0 1.2em;
  padding: 0;

  font-size: 0.9em;
  list-style: none;
  line-height: 2;
  letter-spacing: 0.1vmin;
}
.jamie-who-portfolio-item-desc > * > .list > .list-item::before {
  content: "-";
  font-size: 120%;
  font-weight: 800;
  color: hsl(42, 96%, 70%);
  line-height: 1;

  position: absolute;
  top: 50%;
  left: -3vmin;
  transform: translateY(-50%);
}

.jamie-who-portfolio-item > .close-button {
  position: absolute;
  top: 1vmin;
  right: 1vmin;
}