.content-resume > section { padding: 10vmin 0; }
.content-resume > section > div {
  width: 85%;
  max-width: 133vmin;
  margin: 0 auto;
}

.content-resume a {
  color: hsl(42, 96%, 75%);
  transition: 0.5s color;
}
.content-resume a:hover { color: hsl(42, 96%, 54%); }






.resume-developer-wrapper {
  display: flex;
  border-top: 1vmin solid transparent;
  border-bottom: 1vmin solid transparent;
}
.resume-developer-wrapper::after {
  content: "";
  height: 0.5vmin;
  width: 100%;

  background-color: #eee;
  position: absolute;
  bottom: -1vmin;
}
.resume-developer-wrapper .developer-div-image {
  margin-right: 2vmin;

  height: 15vmin;
  width: 15vmin;
  border-radius: 50%;
  background-color: hsla(0, 0%, 0%, 0.1);
}



.resume-developer-wrapper .developer-div-info > span { display: block; }

.resume-developer-wrapper .developer-info-name {
  font-size: 5vmin;
  font-weight: 800;
  line-height: 1.25;
}
.resume-developer-wrapper .developer-info-name > span {
  font-size: 80%;
  color: #ccc;
  margin-left: 1vmin;
}

.resume-developer-wrapper .developer-info-title {
  font-size: 3vmin;
  font-weight: 200;
}
.resume-developer-wrapper .developer-info-title::before { content: ": "; }



.resume-developer-wrapper .developer-div-contact {
  position: absolute;
  bottom: 0;
  right: 0;
}

.resume-developer-wrapper .developer-contact-item {
  display: inline-block;
  
  font-size: 4vmin;
  font-weight: 800;
  text-decoration: none;
  line-height: 1;

  margin-left: 3vmin;

}
.resume-developer-wrapper .developer-contact-item:first-of-type { margin-left: 0;}
.resume-developer-wrapper .developer-contact-item > span::after { content: "."; }





.resume-section-wrapper > .section-list-title > span:nth-child(1) {
  font-size: 160%;
  font-weight: 800;
  color: hsl(42, 5%, 67%);
  margin-right: 1vmin;
}
.resume-section-wrapper > .section-list-title > span:nth-child(2) {
  font-size: 120%;
  color: hsl(42, 5%, 78%);
  font-weight: 200;
}

.resume-section-wrapper ul { list-style: none; padding-inline-start: 0;}

.resume-section-wrapper em {
  font-style: normal;
  font-weight: 800;
}

.resume-section-wrapper .section-list {
  width: 90%;
  margin: 1.5em auto 0;
  padding: 1em 0 1em 3vmin;
}
.resume-section-wrapper .section-list::before {
  content: "";
  height: 100%;
  width: 1vmin;
  border-radius: 1vmin;
  background-color: hsl(42, 5%, 89%);

  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
}






.section-side-projects dt,
.section-list .sublist-title { margin: 0 0 0.5em; }

.section-side-projects dd,
.section-list .list-item { margin: 0 0 1em; }
.section-list .list-item:last-of-type { margin: 0; }
.section-list ul { padding: 0 0 0 2em; }

.section-side-projects dt { font-weight: 800; }

.section-side-projects dt > span:nth-child(1),
.section-list .list-item-title,
.section-list .sublist-title {
  font-size: 140%;
  font-weight: 800;
  color: hsl(42, 5%, 78%);
}
.section-side-projects dt > span:nth-child(2)::before {
  content: ":";
  margin: 0 1em;
  color: hsl(42, 5%, 78%);
}

.section-side-projects dd li { margin-bottom: 0.5vmin; }
.section-side-projects dd li:last-of-type { margin-bottom: 0; }




.section-technical-skills .section-list ul {
}
.section-technical-skills .section-list ul > li {
  display: inline;
  font-size: 4vmin;
  font-weight: 200;
  margin-right: 2vmin;
  color: hsl(42, 5%, 50%);
}
.section-technical-skills .section-list ul > li::after { content: ", " }
.section-technical-skills .section-list ul > li:last-of-type::after { content: none; }



.section-profile .list-item,
.section-certification .list-item,
.section-education .list-item {
  display: grid;
  grid-template-columns: 24vmin 1fr;
  align-items: center;
}
.section-list .list-item-desc {
  font-weight: 200;
}
.section-list .list-item-desc span { margin-right: 1vmin }
.section-list .list-item-desc span:last-of-type { margin-right: 0 }
.section-list .list-item-desc span:nth-child(1) { font-size: 3vmin; font-weight: 400; }
.section-list .list-item-desc span:nth-child(3) { font-size: 2vmin; }