.content-narrative {
  background: linear-gradient(
    to bottom,
    transparent,
    hsl(42, 96%, 97%),
    hsl(42, 96%, 97%),
    transparent
  );
}

.narrative-section {
  font-size: 1.2em;
  border: 1px solid transparent;
}
.section-the-future > .narrative-section-wrapper { margin-bottom: 0; }
.content-narrative > .content-portfolio { height: 90vh; }
.content-narrative > .content-portfolio .portfolio-template-img { margin-top: 0; }


.narrative-section-signpost {
  position: sticky;
  top: 0;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
}
.narrative-section-signpost-text {
  position: absolute;
  top: -10vmin;
  right: 3vmin;

  /* background-color: initial; */
  width: 40vmin;
  /* height: 40vmin; */
  padding-left: 15vmin;
  background: linear-gradient(
    to right, transparent, white 10vmin, white
  );

  border-right: 1vmin solid transparent;
  border-bottom: 1vmin solid #fab617;
  border-radius: 0 0 5vmin 0;
  
  transform:
    translateX(50%)
    translateY(-50%) 
    rotate(90deg) 
    translateX(50%)
  ;
}
.narrative-section-signpost-text::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 1em;

  transform: translateY(1.3em);
}



.narrative-section-wrapper {
  width: 85%;
  max-width: 133vmin;
  margin: 7rem auto;
}

.narrative-section-item { margin-bottom: 3rem; }
.narrative-section-item:last-of-type { margin-bottom: 0; }

.narrative-section-item > * { 
  display: block;
  white-space: nowrap;
}

.narrative-section-item em {
  font-weight: 800;
  font-style: normal;
}

.content-narrative .text-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
}




.content-narrative .text-heading { border-bottom: 1vmin solid #fab617; }
.content-narrative .text-left {
  border-right: 1vmin solid transparent;
  border-radius: 0 0 5vmin;
  padding-right: 1.5em;
}
.content-narrative .text-right {
  border-left: 1vmin solid transparent;
  border-radius: 0 0 0 5vmin;
  padding-left: 1.5em;
}
.content-narrative .text-center {
  border-left: 1vmin solid transparent;
  border-right: 1vmin solid transparent;
  border-radius: 0 0 5vmin 5vmin;
  padding: 0 1.5em;
}

.content-narrative .text-heading em::before,
.content-narrative .text-heading em::after {
  margin: 0 1vmin;
  color: #fab617;
}
.content-narrative .text-heading em::before { content: "{" }
.content-narrative .text-heading em::after { content: "}" }


.narrative-section-skills-list {
  list-style: none;
  padding-inline-start: 2rem;

  font-size: 2rem;
  color: hsl(42,96%,65%);
}

.narrative-section-skills-list-item { display: inline-block; }
.narrative-section-skills-list-item:hover { color: hsl(42,96%,45%); }
.narrative-section-skills-list-item::before {
  content: "#";
}
.narrative-section-skills-list-item::after {
  content: ",";
  margin-right: 1.5rem;
}
.narrative-section-skills-list-item:last-of-type::after { content: ""; }

.section-skills .other-skills-list:nth-last-of-type(2) > .skills-list-item:last-of-type { display: none; }
.section-skills .other-skills-list:nth-last-of-type(2) > .skills-list-item:nth-last-of-type(2)::after { content: ""; }
.section-skills .other-skills-list:nth-last-of-type(1) > .skills-list-item { display: none; }
.section-skills .other-skills-list:nth-last-of-type(1) > .skills-list-item:last-of-type { display: initial; font-size: 1.5em;}